<html>


<head>
  <link href="./styles.css" rel="stylesheet" media="all" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">

</head>
<body>

<h5 class="some">наш барбершоп самый самый барбе барбер</h5>


<h2 class="some">Наши БАРБЕРЫ</h2>

<table class="table table-striped">
  <thead>
  <tr>
    <th>Имя</th>
    <th>Адрес работы</th>
    <th>Адрес где живет</th>

  </tr>
  </thead>

  <tbody>
  <% @db_results_barbers.each do |row| %>
    <tr>
      <td><%= row['barber_name'] %></td>
      <td><%= row['personal_address'] %></td>
      <td><%= row['work_address'] %></td>
    </tr>
  <% end %>
  </tbody>

</table>



</body>
</html>
